body{
    background-color: burlywood;
}
h1{
    text-align: center;
    color: brown;
    width: 50%;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    border: 5px dashed white;
    border-radius: 5px;
    margin: 1rem auto;
}


h2{
    color: black;
    text-align: center;
}



#box1{
    width: 600px;
    height: 40px;
    background-color: beige;
    margin: 1rem auto;
}

#box2{
    width: 400px;
    height: 160px;
    background-color: beige;
    margin: 1rem auto;
}

#box3{
    width: 600px;
    height: 90px;
    background-color: beige;
    margin: 1rem auto;
}


.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

#box4{
    text-align: center;
}